@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
     color: #ffffff;
     font-family: "Roboto", serif;
     font-size: 1.25em;
     margin: 0px auto;
     max-width: 1080px;
     width: 100%;
}

h1 {
     border: none;
     font-size: 2.75em;
     font-weight: 500;
     margin-bottom: 3em;
}

a {
     color: #ffffff;
     text-decoration: none;
}